.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .made {
    margin-bottom: 10px;
  }

  .rrss {
    .social-icons {
      .media-icon {
        font-size: 25px;
      }

      a {
        color: black;
        margin: 0 6px;

        &:hover {
          color: grey;
        }
      }
    }
  }
}