.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  .login {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #c1c1c1;

    &:a {
      color: #238ce8;
      margin: 10px 0;
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:hover {
        color: white;
        background-color: #238ce8;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }

    .btn {
      background-color: #238ce8;
      color: white;
      transition: all .3s ease-in-out;
      margin: 10px 20px 10px 0; 

      &:hover {
        background-color: white;
        color: #238ce8;
        border: 1px soli #238ce8;
      }
    }
  }
}

